<div class="container">
  <h2>Новости</h2>
  <h2>Программы:</h2>
  <p>05.03 19:00 Опера «Шелковая лестница» Дж.Россини |
    06.03 18:00 Балет «Лебединое озеро» П.Чайковский |
    07.03 18:00 Балет «Лебединое озеро» П.Чайковский </p>
  <div class="gallery">
    <iframe width="180" height="180" src="https://youtu.be/DNIlO_h-DVQ?playlist=DNIlO_h-DVQ&loop=1">
    </iframe>
    <div class="desc">"Спите!" Как и. о. министра торговли и интеграции Ержан Казанбаев к депутатам приходил</div>
  </div>
  <div class="gallery">
    <iframe width="180" height="180" src="https://youtu.be/zaW5sXJNKGE?playlist=zaW5sXJNKGE&loop=1">
    </iframe>
    <div class="desc">Бекшин и вице-министры привились от коронавируса. Как это было</div>
  </div>
  <div class="gallery">
    <iframe width="180" height="180" src="https://youtu.be/Q-sYFKAnyTc?playlist=zaW5sXJNKGE&loop=1">
    </iframe>
    <div class="desc">Почему в аэропортах нельзя брать чужие посылки и конверты</div>
  </div>
</div>
