<div class="container">
  {{new}}
  <router-outlet></router-outlet>
  <h2>Общие положения</h2>
  <p>Статья 1</p>

  <ol>
    <li>Республика Казахстан утверждает себя демократическим, светским, правовым и социальным
      государством, высшими ценностями которого являются человек, его жизнь, права и свободы.</li>
    <li>Основополагающими принципами деятельности Республики являются: общественное согласие и политическая
      стабильность, экономическое развитие на благо всего народа, казахстанский патриотизм, решение наиболее
      важных вопросов государственной жизни демократическими методами, включая голосование
      на республиканском референдуме или в Парламенте.</li>
  </ol>
  <br>
  <p>Статья 2</p>
  <ol>
    <li>Республика Казахстан является унитарным государством с президентской формой правления.</li>
    <li>Наименования Республика Казахстан и Казахстан равнозначны. </li>
  </ol>

  <h1>Select the section of law</h1>
  <p>The select the section is used to create a drop-down list.</p>
  <form action="/action_page.php">
    <label for="laws">Choose a section of law:</label>
    <select name="laws" id="laws">
      <option value="section1">Section 1</option>
      <option value="section2">Section 2</option>
      <option value="section3">Section 3</option>
      <option value="section4">Section 4</option>
    </select>
    <br><br>
    <input type="submit" value="Submit">
  </form>
  <p>Click to see the sections of law!</p>
</div>
