<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <div class="container">
        <h2>Last News</h2>
        <p>Карантин в Казахстане ослаблят с 1 марта.</p>
        <p>Студент из Караганды остался без ног из-за инцидента на железной дороге.</p>
        <p>Продукты на 22 миллиарда тенге собирались купить в детсаду Жанаозена.</p>
        <div class="gallery">
            <img src="/../../assets/1.jpg" alt = "Snow" style="width:100%">
          <div class="desc">Сильный снегопад и гололед ожидаются в Алматы</div>
        </div>
        <div class="gallery">
            <img src="/../../assets/2.png" alt = "Snow" style="width:100%">
          <div class="desc">Мужчина напал на школьницу на глазах у прохожих в Павлодаре</div>
        </div>
        <div class="gallery">
            <img src="/../../assets/3.jpg" alt = "Snow" style="width:100%">
          <div class="desc">О полном снятии  карантина высказался Минздрав</div>
        </div>
      </div>
    </div>
    <div class="card">
      <h2>Почитай</h2>
      <h5>#Статьи | #Интервью | #Экономика | #Культура</h5>
      <div class="fakeimg">
        <img src="/../../assets/4.jpeg" alt = "Snow" style="width:100%">
      </div>
      <p>Казахстанская журналистка Акмарал Баталова специально для Tengrinews.kz взяла эксклюзивное интервью у министра обороны Российской Федерации Сергея Шойгу. Отвечая на вопросы для нашего портала, он поделился мнением об отношениях России и Казахстана, идее создания "туранской армии" и действиях США.</p>
      <p>Не буду скрывать, что и сегодня в Сирии на оперативном, на тактическом уровне у нас очень тесные контакты с американскими коллегами. Может быть, если это для кого-то секрет, я его открываю, этот секрет. У нас на уровне наших, по гражданскому назову, управленцев в воздушном пространстве и ведению работы в воздухе по борьбе с терроризмом по нескольку раз в день бывают контакты.</p>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <h2>Популярное</h2>
      <div class="fakeimg1">
        <img src="/../../assets/5.png" alt = "Snow" style="width:100%">
      </div>
      <p>Чиновников наказали за незаконную выдачу квартир в Жезказгане</p>
    </div>
    <div class="card">
      <h3>Узнай</h3>
      <div class="fakeimg1"><img src="/../../assets/6.jpg" alt = "Snow" style="width:100%"></div>
      <div class="fakeimg1"><img src="/../../assets/7.jpg" alt = "Snow" style="width:100%"></div>
      <div class="fakeimg1"><img src="/../../assets/8.jpg" alt = "Snow" style="width:100%"></div>
    </div>
    <div style="background-color: limegreen" class="card">
      <app-section></app-section>
    </div>
  </div>
</div>


