<div class="container">
  <h2>Last News</h2>
  <p>Карантин в Казахстане ослаблят с 1 марта.</p>
  <p>Студент из Караганды остался без ног из-за инцидента на железной дороге.</p>
  <p>Продукты на 22 миллиарда тенге собирались купить в детсаду Жанаозена.</p>
  <div class="gallery">
        <a href="/app/1.jpg" target="_blank">
          <img src="/app/1.jpg" alt = "Snow" style="width:100%">
        </a>
    <div class="desc">Сильный снегопад и гололед ожидаются в Алматы</div>
    </div>
    <div class="gallery">
      <a href="/app/2.png" target="_blank">
        <img src="/app/2.png" alt = "Snow" style="width:100%">
      </a>
        <div class="desc">Мужчина напал на школьницу на глазах у прохожих в Павлодаре</div>
    </div>
    <div class="gallery">
        <a href="/app/3.jpg" target="_blank">
          <img src="/app/3.jpg" alt = "Snow" style="width:100%">
        </a>
      <div class="desc">О полном снятии  карантина высказался Минздрав</div>
    </div>
</div>
